@import 'base.css';

#app {
  max-width: 1580px;
  margin: 0 auto 20px;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  font-color: var(--color-text);
}

@media(max-width: 900px) {
  #app {
    margin: 0 20px;
  }
}
